.projects__container {
    padding-top: 7rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    max-width: 50%;
}

.project__item {
    background: var(--color-bg-variant);
    border-radius: 1rem;
    align-items: center;
    border: 2px solid transparent;
    width: 16.875rem;
    transition: var(--transition)
}

.project__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project__item-image {
    border-radius: 0.83rem;
    overflow: hidden;
}

.project__item h3{
    text-align: center;
    margin: 0.6rem 0 0.6rem;
}

/* ============================== 2K SCREENS (1440p) ============================== */
@media screen and (min-width: 2560px){
    .projects__container{
        max-width: 60%;
    }
    .project__item{
        width: 27rem;
    }
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================== */
@media screen and (max-width: 1024px) {
    .projects__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        max-width: 70%;
    }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================== */
@media screen and (max-width: 600px) {
    .projects__container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 7.5rem;
    }
}