.about__container{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    justify-content: center;
    gap: 15rem;
    padding-top: 15.3rem;
}

.about__me-image{
    width: 26rem;
    height: 26rem;
    overflow: hidden;
}

.about__content p {
    max-width: 50rem;
    font-size: 1.4rem;
    text-align: left;
}

.highlight {
    font-weight: 800;
}

/* ============================== 4K SCREENS ============================== */
@media screen and (min-width: 3840px){
    .about__container {
        padding-top: 30rem;
    }

    .about__content p {
        max-width: 80rem;
        font-size: 3.2rem;
    }

    .about__me-image{
        width: 55rem;
        height: 55rem;
    }
}

/* ============================== 2K SCREENS (1440p) ============================== */
@media screen and (min-width: 2048px) and (max-width: 3839px){
    .about__container {
        padding-top: 22rem;
    }

    .about__content p {
        max-width: 55rem;
        font-size: 1.7rem;
    }
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================== */
@media screen and (max-width: 1024px) {
    .about__container {
        display: block;
        padding-top: 7rem;
    }

    .about__content {
        display: flex;
        justify-content: center;
    }

    .about__content p {
        text-align: center;
    }

    .about__me {
        padding: 0rem 0rem 4rem 0rem;
        display: flex;
        justify-content: center;
    }

    .about__me-image{
        width: 26rem;
        height: 26rem;
    }
}

/* ============================== 720p ============================== */
@media screen and (max-width: 1280px) {
    .about__container{
        gap: 10rem;
        padding-top: 9rem;
    }

    .about__content p {
        font-size: 1.2rem;
    }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================== */
@media screen and (max-width: 600px) {
    .about__container{
        padding-top: 0.5rem;
    }

    .about__content p {
        font-size: 1rem;
    }

    .about__content p {
        max-width: 100%;
    }

    .about__me {
        padding: 7rem 0rem 0rem 0rem;
    }

    .about__me-image{
        width: 24rem;
        height: 24rem;
        padding: 1rem 1rem 1rem 1rem;
    }
}