.about__container{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    justify-content: center;
    gap: 15rem;
}

.about__me-image{
    width: 26rem;
    height: 26rem;
    overflow: hidden;
}

.about__content p {
    max-width: 50rem;
    font-size: 1.4rem;
    text-align: left;
}

.highlight {
    font-weight: 800;
}

