header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 15rem;
}

/* ============================== CTA ============================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============================== ME ============================== */
.me {
    width: 26rem;
    height: 26rem;
}

/* ============================== 4K SCREENS ============================== */
@media screen and (min-width: 3840px){
    .me {
        width: 55rem;
        height: 55rem;
    }
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================== */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
    
    .header__container {
        display: block;
    }

    .info {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .me {
        width: 35rem;
        height: 35rem;
        padding-top: 5rem;
        position: absolute;
        left: calc(50% - 17.5rem);
    }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================== */
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }

    .info {
        padding-top: 2rem;
        padding-bottom: 0rem;
    }

    .me {
        width: 23rem;
        height: 23rem;
        padding: 2rem 2rem 2rem 2rem;
        position: absolute;
        left: calc(50% - 11.5rem);
    }
}