header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    justify-content: center;
    gap: 15rem;
}

/* ============================== CTA ============================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============================== ME ============================== */
.me {
    width: 26rem;
    height: 26rem;
    overflow: hidden;
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================== */
@media screen and (max-width: 1024px) {
    .header {
        height: 68vh;
    }
    
    .header__container {
        display: block;
    }

    .info {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .me {
        padding: 2rem 1rem 1rem 1rem;
        position: absolute;
        left: calc(50% - 13rem);
    }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================== */
@media screen and (max-width: 600px) {
    .header {
        height: 100vh;
    }
}